@font-face {
  font-family: "Larsseit";
  src: url("./fonts/larsseit_regular.eot");
  src: local("☺"), url("./fonts/larsseit_regular.woff") format("woff"),
    url("./fonts/larsseit_regular.ttf") format("truetype"),
    url("./fonts/larsseit_regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
