@import "../../assets/scss/mixins";

.headerBlock {
  height: 840px;
  background: #f4f9e2;
  padding-left: 180px;
  position: relative;

  .logo {
    margin-top: 27px;
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
    color: #62d0df;
  }

  header {
    display: flex;

    nav {
      display: flex;
      align-items: center;
      gap: 13px;
      margin: 40px 320px 0 320px;

      button {
        @include transparentButton(#22356f);
        height: 20px;
        z-index: 2;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .contactUsButton {
      font-size: 14px;
      cursor: pointer;
      line-height: 16px;
      color: #fff;
      margin-top: 20px;
      width: 150px;
      height: 50px;
      background: #62d0df;
      border: none;
      border-radius: 50px;
      z-index: 2;
      transition: 0.25s;

      &:hover {
        background-color: darken(#62d0df, 10%);
      }
    }
  }

  .headerInfo {
    max-width: 485px;
    margin-top: 175px;
    color: #22356f;

    h1 {
      height: 65px;
      font-size: 48px;
      line-height: 53px;
      letter-spacing: -0.035em;
    }

    p {
      padding-top: 70px;
      font-size: 24px;
      line-height: 42px;
    }

    .headerInfoButtons {
      margin-top: 65px;
      display: flex;
      align-items: center;
      gap: 35px;

      .whoAmIButton {
        font-weight: 600;
        cursor: pointer;
        background: #f9b640;
        border: none;
        width: 150px;
        height: 50px;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.1em;
        color: #ffffff;
        transition: 0.25s;

        &:hover {
          background-color: darken(#f9b640, 10%);
        }
      }

      .whatDoIDoButton {
        @include transparentButton(#fab63e);
        height: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.1em;
      }
    }
  }

  .asideBlock {
    position: absolute;
    width: 807px;
    height: 545px;
    right: -130px;
    top: 40px;
    background: #edfdff;
    border-radius: 312.159px;
    transform: rotate(-60deg);
  }

  .headerImg {
    position: absolute;
    right: 0px;
    top: -10px;
  }

  .rightHorisontal {
    height: 100%;
    width: 325px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }
}
